.callout {
  mix-blend-mode: darken;
  background-color: rgb(from var(--callout-color-light) r g b / 0.1);
}

.callout-title {
  color: var(--callout-color-light);
}

.dark .callout {
  mix-blend-mode: lighten;
  background-color: rgb(from var(--callout-color-dark) r g b / 0.1);
}

.dark .callout-title {
  color: var(--callout-color-dark);
}

.callout {
  overflow: hidden;

  width: 100%;
  padding: 12px 12px 12px 24px;
  border-radius: 4px;
  margin: 1em 0;

  line-height: 1.3;
}

.callout-title {
  display: flex;
  align-items: flex-start;
  gap: 4px;

  font-size: inherit;
}

.callout-icon {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}

.callout-title-inner {
  color: inherit;
  font-weight: 600;
}

.callout-content {
  overflow-x: auto;
  padding: 0;
  background-color: transparent;
}

.callout-collapsible .callout-title {
  cursor: pointer;
}

.callout-collapsible .callout-fold {
  display: flex;
  align-items: center;
  padding-inline-end: 8px;
}

.callout-collapsible > .callout-title .callout-fold svg {
  transform: rotate(-90deg);
  transition: transform 100ms ease-in-out;
}

.callout-collapsible[open] > .callout-title .callout-fold svg {
  transform: none;
}

.callout-icon::after,
.callout-fold::after {
  content: '\200B';
}

.callout-icon svg,
.callout-fold svg {
  width: 18px;
  height: 18px;
}
