.callout {
  width: 100%;
  padding: 0.5rem 1rem;
  border-left: 0.25em solid;
  margin-bottom: 16px;
}

.callout {
  border-left-color: var(--callout-color-light);
}

.callout-title {
  color: var(--callout-color-light);
}

.dark .callout {
  border-left-color: var(--callout-color-dark);
}

.dark .callout-title {
  color: var(--callout-color-dark);
}

.callout-title {
  display: flex;
  align-items: flex-start;

  line-height: 1;
  font-weight: 500;
}

.callout-icon svg {
  overflow: visible !important;
  display: inline-block;

  margin-right: 0.5rem;

  vertical-align: text-bottom;

  fill: currentColor;
}

.callout-title-inner {
  margin-top: 0;
  margin-bottom: 0;
}

.callout-content > :last-child {
  margin-bottom: 0;
}

.callout-collapsible .callout-title {
  cursor: pointer;
}

.callout-collapsible .callout-fold {
  display: flex;
  align-items: center;
  padding-inline-end: 8px;
}

.callout-collapsible > .callout-title .callout-fold svg {
  transform: rotate(-90deg);
  transition: transform 100ms ease-in-out;
}

.callout-collapsible[open] > .callout-title .callout-fold svg {
  transform: none;
}

.callout-fold {
  margin-left: 4px;
}
